.location-image{
    width: 100%;
    padding: 40px;  
}
.location-container{
    background-color: #F8F8F8;
}
@media (max-width: 768px) {
    .location-image {
      padding: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .location-image {
      padding: 10px;
    }
  }
  