@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --font-headline: "DM Sans", sans-serif;
    --color-text-inactive: #ADADAD;
    --color-text-light: #e5e5e5;
}
@font-face {
  font-family: 'Aksara'; 
  src: local('Aksara-normal'), url('./Fonts/Fontspring-DEMO-aksara-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  padding: auto;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6,p{
  font-family: "DM Sans",sans-serif !important;
  color: #252525 !important;
}
a,button,span{
   font-family: "DM Sans",sans-serif !important;
}
hr {
    margin: .25rem 0 !important;
  }
.bg-secondry{
  background-color: #F3F3F3 !important;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}